.button {
    color: #282c34;
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border: 5px solid aquamarine;
    border-radius: 20px;
    font-weight: bold;
}

.button:disabled {
    background-color: #454f5d;
    border: none;
}