.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper-all {
  border: 5px solid aquamarine;
  border-radius: 20px;
  width: 600px;
  height: 500px;
}

.wrapper-buttons {
  border: 5px solid aquamarine;
  width: 540px;
  height: 190px;
  margin: 40px 20px 30px 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

